*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
.Rhistory

# Compiled javascript
ipyleaflet/static/
ipyleaflet/staticlab/

# big data
rosmap_counts_matrix_normalized_geneSymbols_25031x638.RData
tbl.gwas.level_1.RData
mtx.protectedAndExposed.RData
tbl.protectedAndExposed.RData
gtex.fib.RData
gtex.primary.RData

# OS X
.DS_Store
